[Unit]
Description=SNB Enrollment (FastAPI + Frontend Static)
After=network.target

[Service]
Type=simple
User=administrator
Group=administrator
WorkingDirectory=/home/administrator/Desktop/snb-enrollment
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/administrator/Desktop/snb-enrollment/.venv/bin/python -m uvicorn backend.app.main:app --host 0.0.0.0 --port 5555
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
